# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Runtime files
runtime/logs.txt
runtime/processed_tickets.json

# Generated folders
Input/
Output/
Staging/
Processed/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db